/* Basic Structure */


body
{
	height: 100vh;
	margin: 0;
}

/* header */

.heading
{
	position: relative;
	height: 78px;
	margin: 0 auto;
	width: 85%;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-brand
{
	background-color: #4aaaa5;
	font-size: 25px;

}

nav
{
	border-color:#cccccc;
	border-bottom: solid #cccccc 2px;
	height: 78px;
}

li a
{
	color: #777777;
}

/* main content */

main
{
	background-image: url('../images/halftone.png');
	height: 100%;
  	overflow: scroll;
	
}

.maincontent
{
	width: 85%;
	margin: 0 auto;
	border: solid #cccccc 1px;
	margin-bottom: 200px;

}

.firstrow
{
	margin-top: 5%;
}

hr
{
	height: 3px;
	border: none;
	background-color: #cccccc;
}



.contentheader
{
	color: #4aaaa5;
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;

}



/* about.html style */
p
{
	line-height: 2;
	font-size: 18px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* portfolio.html style */


.text 
{
	position: relative;
	bottom: 50px;
	background-color: #4aaaa5;
	color: white;
	padding-top: 3%;
	padding-bottom: 12%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 1.5vw;
	text-align: center;
	height: 15%;
}


/* contact.html style */

label, input
{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;

}

.submit
{
	background-color: #4aaaa5;
	color: white;
	font-size: 16px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}


/* footer */

footer
{
	z-index: 200;
	position: sticky;
	background-color: #666666;
	padding: 20px;
	border-top: 7px solid #4aaaa5;
	text-align: center;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.text-muted
{
	color: #cccccc;
	font-size: 11px;	
}

/* responsive settings */

@media (max-width: 960px) 
{
	.project
	{
		margin-left: 5%;

	}
}

@media (max-width: 576px) 
{
    .navbar-right {
    	position: absolute;
    	top: 79px;
        width: 100%;
        justify-content: center;
        padding-top: 5px;
    }

    .navbar-brand{
    	width: 100%;
    }

    .heading
    {
    	margin: 0;
    	width: 100%;
    }

    nav
    {
    	position: relative;
    }

    body
    {
    	height: 100%;
    }

    main
    {
    	width: 100%;
    	position: relative;
    	top: 50px;
    }

    .maincontent
    {
    	width: 100%;
    }
    .profileimg

    {	
    	text-align: center;
    	width: 100%;
    }

    .project
    {
    	margin: 0 auto;
    }

    .project .text
    {
    	font-size: 16px;
    }

}

